.button {
  display: inline-block;
  padding: 14px 16px;
  border: none;
  border-radius: 4px;
  background-color: $color-blue;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  color: $color-white;
  text-align: center;
  transition: background-color $transition-default;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    background-color: darken($color-blue, 10%);
  }
}