.form-group {
  &__label { // .form-group__label
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: $color-gray;
    text-transform: uppercase;
  }

  &__input { // .form-group__input
    @include input;

    &:focus {
      @include input-active;
    }

    &--phone { // .form-group__input--phone
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__box { // .form-group__box
    display: grid;
    grid-template: auto / 75px auto;
  }
}