.register-form {
  &__row { // .register-form__row
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    grid-column-gap: 12px;
  }

  &__elem { // .register-form__elem
    margin-bottom: 16px;
  }

  &__submit-box { // .register-form__submit-box
    margin-top: 40px;
    text-align: center;
  }
}