.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 64px;
  padding-bottom: 64px;

  &__title { // .section__title
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    font-weight: 400;
    text-align: center;
  }

  &__title-bold { // .section__title-bold
    font-weight: 700;
  }
}